body,
figure {
    margin: 0;
}

html {
    font: 18px/1.5 system-ui;
}

nav {
    position: fixed;
    top: 40px;
    left: 40px;
}

nav a:not(:last-child) {
    margin-right: 40px;
}

article img {
    width: 100%;
    object-fit: contain;
    background-color: lightgray;
}

/* section, article */

section#hero {
    background-color: gray;
    width: 100vw;
    height: 100vh;
}

section#work {
    min-height: 100vh;
    margin-top: 15vw;
    padding: 0 15vw;
}

section article {
    margin-bottom: 15vw;
}

/* home */

#home section article {
    width: 60vw;
    /*margin-left: 20vw;*/
}

/* page */

#page {
    background-color: #ccc;
}

#page section article {
    margin-right: auto;
    margin-left: auto;
}

#page iframe,
#page figure {
    width: 100%;
}

/* classes */

.text {
    margin: 0 auto;
}

.sketchfab {
    overflow: hidden;
}

.sketchfab iframe {
    margin-top: -50px;
    margin-bottom: -50px;
}
